img{
    padding-top: 2em;

}
button {
    padding-block: 3px;
    margin: 1em;
    padding-inline: 11px;
    background-color: rgb(215, 193, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button:hover{
  background-color: aqua;
  color: black;
}
div.Header{
    background-color: white;

}
div.Footer{
    background-color: floralwhite;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(3, 74, 50);
}
address{
    color: rgb(112, 41, 41);
}
table{
color: darkolivegreen;
}
P{
    color: rgb(8, 14, 14);
}
li{
    color: darkblue;
}
html{
    background-color: pink
}






