html{
    
    background-color:pink
}

dt {
    color: blue
}
P {
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
background-color:brown;
}
  